## Import packages
import(VineCopula)
import(mgcv)
import(methods)
import(MASS)
import(igraph)

## Import selected functions
importFrom(gsl, expint_E1)
importFrom(copula, mvdc)
importFrom(copula, normalCopula)
importFrom(copula, rMvdc)
importFrom(parallel, mclapply)

## Classes
export(gamBiCop)
export(gamVine)

## Methods
exportMethods("plot")
exportMethods("logLik")
exportMethods("summary")
export(EDF)

## gamBiCop related functions
export(gamBiCopSim)
export(gamBiCopEst)
export(gamBiCopPred)
export(gamBiCopPDF)
export(gamBiCopCDF)
export(gamBiCopSel)

## gamVine related functions
export(gamVineSim)
export(gamVineSeqEst)
export(gamVineStructureSelect)
export(gamVineNormalize)
export(gamVineFamily)
export(RVM2GVC)

## Others
export(links)
export(rotate.data)
export(rotate.param)
export(BiCopEta2Par)
export(BiCopPar2Eta)
export(FisherBiCop)
export(FisherBiCop2)
export(FisherClayton)
export(FisherGaussian)
export(FisherStudentRho)
export(CondBiCopSim)